/*font*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Merriweather:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Merriweather:wght@400;900&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Merriweather:wght@400;900&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Grandstander:wght@300&family=Merriweather:wght@400;900&family=Montserrat:wght@500&display=swap");
/*html bodyr*/
html {
  position: relative;
}
body {
  padding-top: 60px;
}
/*navbar*/
.navbar {
  background-color: #fcf6bd;
  font-family: Montserrat;
  width: 100%;
}

.navbar a {
  color: #cdb4db;
  font-size: 15px;
}

.main-nav .navbar-nav .nav-item .nav-link {
  text-align: center;
  font-size: 17px;
  color: black;
  width: 100%;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  background-color: #f5e7ca;
  color: black;
}
/*logo nav*/
.logo {
  width: 65px;
  height: 65px;
  margin-top: -2px;
  margin-right: 10px;
}
/*bagian home*/
#gallery {
  background-color: #f5e7ca;
  padding: 25px;
}

#sectionSatu {
  background-color: #fcf6bd;
  color: black;
}
#sectionDua {
  margin-top: 70px;
}

#intro {
  padding: 30px;
  background-color: #fcf6bd;
  color: black;
}

/*search*/
.form {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
  float: right;
}

.search-field {
  width: 500px;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 25px;
  outline: none;
  background-color: #f5f5f5;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
/*containerr*/
.container {
  display: block;
}
/*card article*/

.allcard {
  float: center;
}
.card p {
  margin-top: -10px;
  margin-bottom: 1px;
  padding-top: 20px;
}
.row .card:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
  background-color: #f0efeb;
}

/* suara wanita */
.suarawanita .card:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
  background-color: #e9ecef;
}
h2 {
  font-family: Merriweather;
  color: black;
}
h4 {
  font-family: Fredoka One;
  font-size: 20px;
  color: #ff758f;
}
h5 {
  color: #777474;
  font-size: small;
  padding-top: 10px;
}
p {
  letter-spacing: 2px;
  font-family: Scheherazade;
  font-size: large;
  padding-top: 20px;
}

/*bagian eventin*/
.divisi {
  text-align: left;
}

.divisikanan {
  text-align: right;
  font-family: Scheherazade;
}

/*bagian visi misi*/
.section1 {
  background-color: #fcf6bd;
  min-height: 550px;
  width: 100%;
}

.col-sm-12 img {
  height: 200px;
  width: 200px;
  margin-top: 80px;
  margin-left: -20px;
}

.section1 hr {
  width: 300px;
  border-top: 3px solid #000;
}

.section2 hr {
  width: 200px;
  border-top: 3px solid #000;
}

.section3 hr {
  width: 200px;
  border-top: 3px solid #000;
}
.col-sm-6 p {
  text-align: justify;
}

.section2 {
  padding-top: 50px;
  background-color: #f59cb4;
  min-height: 200px;
}

.section3 {
  padding-top: 50px;
  background-color: #f59cb4;
  padding-bottom: 200px;
  min-height: 250px;
}

.section3 .col-sm-6 li {
  letter-spacing: 2px;
  font-family: Scheherazade;
  font-size: large;
  padding-top: 20px;
}
/* member */
.membercard {
  float: center;
  background: linear-gradient(135deg, #fafcdf 0%, #fee0ac 100%);
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  margin: 100px;
}
.membercard a {
  width: 35px;
  height: 35px;
  margin-left: 65px;
}
.membercard h3 {
  color: black;
  text-align: center;
  padding: 50px;
  font-family: Montserrat;
}
.membercard p {
  color: black;
  text-align: center;
  padding: 30px;
  font-family: Fredoka One;
  letter-spacing: 2px;
  font-size: 20px;
}
.card p {
  margin-top: -10px;
  margin-bottom: 1px;
  padding-top: 20px;
  float: center;
}
.row .card:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
  background: linear-gradient(135deg, #fafcdf 0%, #fee0ac 100%);
}
/*sosmed bagian footer*/
.sosmed {
  text-align: center;
  background-color: #f5e7ca;
  padding-bottom: 5px;
  border-top: 5px solid black;
  color: #f59cb4;
  font-family: Montserrat;
  padding-top: 20px;
}

.sosmed a {
  display: block;
  color: black;
}

#ig {
  width: 35px;
  height: 35px;
  margin-top: 15px;
  margin-left: -65px;
}

#lk {
  width: 35px;
  height: 35px;
  margin-top: -65px;
  margin-left: 55px;
}
/*footer*/
footer {
  position: absolute;
  width: 100%;
  height: 100px;
  color: black;
  background-color: #fcf6bd;

  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .allcard {
    margin: 0 auto;
  }
}
/*Submit Article*/
#subArticle {
  padding-top: 30px;
  background-color: #ccd6ee;
}

/*Hero Suara Wanita*/
.sectionTiga {
  background-image: url(img/gambar1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}
#textSuara {
  margin-top: 100px;
}

/* Owl Carousel -Reni-*/
.owl-dots {
  width: 100%;
  position: absolute;
  bottom:1%;
}